.outer-square {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    
}

.inner-square {
    margin: 10px;
    height: 100%;
    width: 100%;
    background-color: green;
}

.circle {
    margin: 10px;
    height: 100%;
    width: 100%;
    background-color: blue;
    border-radius: 50%;
}
